<!doctype html>
<html>

<head>
    {% block title %}
    <title>Weekly Report</title>
    {% endblock title %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <link rel="stylesheet" href="/static/css/app.css"/>
    <!--<link rel="stylesheet" href="/static/css/uikit.almost-flat.css"/>-->
    <!--<script src="/static/js/vendor/uikit.js"></script>-->
    <script data-main="static/js/main" src="/static/js/vendor/require/require.js"></script>
</head>

<body>

</body>
</html>