/*@import url("uikit.gradient.css");*/
@import url(uikit.css);


img.top-logo {
    height: 98px;
    width: 100%;
}

.tasks-list {
    height: 100%;
    max-height: 450px;
    overflow: auto; /*or overlay*/
}

.creation-row {
    background: #b1a1a1!important;
}