/*@import url("uikit.gradient.css");*/
@import url(uikit.css);

html, body {
    height: 100%;
}

body {
    background: url(/static/images/illustration.png) no-repeat;
    background-size: cover;
    height: 100%;
}

img.top-logo {
    border: 0px;
    height: 88px;
    width: 100%;
}

.content-area {
    height: 100%;
    min-height: 600px;
}

.tasks-list {
    margin-top: 15px!important;
    height: 78%;
    min-height: 470px;
}

.uk-placeholder {
    height: 96%;
}

.tasks-table {
    table-layout: fixed;
}

.table-caption {
    height: 95px;
    background: #ebf7fd;
    margin: -15px;
    border-width: 0.5px;
    border-color: #ebf0fd;
    border-style: solid;
}

.table-title {
    margin: 15px;
}

.task-container {
    padding-top: 25px;
    height: 85%;
}

.task-grid {
    height: auto;
    margin-top: -15px;
}

.task-detail {
    margin-top: 10px;
}

.uk-overflow-container{
    overflow: auto;
    height: auto;
    max-height: 180px;
}

.task-row-action {
    color: #444444;
    padding-left: 6px;
    padding-right: 6px;
}

.row-selection {
  background: #e4f7fd !important;
  text-shadow: none;
}

.creation-row {
    background: #85D0F5!important;
}

label {
    max-width: 120px;
    display: inline-block;
}

.tasks-table td {
    word-break:keep-all;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.uk-modal-dialog {
    width: 700px;
}

.uk-badge-Green {
    background-color: green;
}

.uk-badge-Orange {
    background-color: orange;
}

.uk-badge-Red {
    background-color: red;
}

textarea {
    max-width: 500px;
    max-height: 120px;
}

textarea.uk-form-blank {
    width: 680px;
    resize: none;
    color: #2d7091!important;
}

input.uk-form-blank {
    color: #2d7091!important;
}

.presentation-view {
    background: #aaddee;
    width: 90%;
    margin: 50px;
}

.presentation-user {
    width: 17%;
}

.presentation-user-avatar {
    width: 64px;
}

.presentation-tasks {
    margin-right: 80px;
    max-height: 100%;
    font-size: large;
}

.presentation-tasks [class*=uk-width] {
    margin-top: 5px;
}

.link-disabled {
    color: #999999!important;
    cursor: text;
    background: none;
}
