
<div class="uk-modal-dialog">
    {{#closable}}
    <button type="button" class="uk-modal-close uk-close "></button>
    {{/closable}}
    <div class="uk-modal-header">
        <h2>Login</h2>
    </div>
    <div class="notify-pane"></div>

    <form id="login_form" class="uk-form uk-form-horizontal">
        <div class="uk-form-row alert-row"></div>
        <div class="uk-form-row">
            <label class="uk-form-label">User Name: </label>
            <input value="" name="username" required/>
        </div>
        <div class="uk-form-row">
            <label class="uk-form-label">Password: </label>
            <input type="password" value="" name="password" required>
        </div>
        <div class="uk-form-row">
            <label class="uk-form-label">Remember Me? </label>
            <input type="checkbox" value="" name="remember_me">
        </div>
    </form>
    <div class="uk-modal-footer uk-text-right">
        {{#closable}}
        <a id="cancel" class="uk-link">Close</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        {{/closable}}
        <input type="button" id="login" value="Login" class="uk-button uk-button-medium"/>
    </div>
</div>
