

<div id="primary_nav_pane" class="uk-offcanvas" aria-hidden="true">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon">
            <li class="uk-nav-header">Week List</li>
            <li class=""><a>Week 20161114</a></li>
            <li class=""><a>Previous Week</a></li>
            <li class="uk-active"> <a href="" id="current">Current Week</a></li>
            <li class=""><a>Next Week</a></li>
        </ul>
    </div>
</div>
<div class="uk-container uk-container-center">
    <!-- Top Bar-->
    <div class="uk-grid">
        <div class="uk-width-1-1">Background Here?</div>
        <div class="uk-width-1-1">
            <nav class="uk-navbar">
                <ul class="uk-navbar-nav">
                    <li><a class="uk-link" data-uk-offcanvas="{target:'#primary_nav_pane'}">Show Weeks List</a></li>
                </ul>
                <div class="uk-navbar-flip">
                    <ul class="uk-navbar-nav">
                        <li><a id="settings" class="uk-link uk-icon-cog">Settings</a></li>
                        <li><a class="uk-link">Log out</a></li>
                    </ul>
                </div>
            </nav>
        </div>

    </div>

    <!-- -->
    <div class="uk-grid" data-uk-grid="{gutter: 20}" >
        <div id="secondary_nav_pane" class="uk-width-1-5 uk-row-first">
            <ul class="uk-nav uk-nav-side uk-nav-parent-icon">
                <li class="uk-nav-header">Team Members</li>
                <li class="uk-nav-divider"></li>
                <li class="uk-active"><a><img class="uk-thumbnail" src="" alt="M1">Member 1</a></li>
                <li class=""><a><img class="uk-thumbnail" src="" alt="M2">Member 2</a></li>
                <li class=""><a><img class="uk-thumbnail" src="" alt="M3">Member 3</a></li>
                <li class=""><a><img class="uk-thumbnail" src="" alt="M4">Member 4</a></li>
                <li class=""><a><img class="uk-thumbnail" src="" alt="M5">Member 5</a></li>

            </ul>

            <ul class="uk-subnav">
                <li> <a> Add </a> </li>
                <li> <a> Skip </a> </li>
            </ul>
        </div>

        <div id="content_pane" class="uk-width-4-5 uk-row-first">
            <ul class="uk-subnav">
                <li> <a> Add Another Slide</a> </li>
                <li> <a> Delete Last Slide</a> </li>
                <li> <a> Preview </a> </li>
            </ul>

            <div class="uk-placeholder">
                <ul class="uk-subnav">
                    <li> <a> Add Task</a> </li>
                    <li> <a> Delete Task</a> </li>
                </ul>
                Content Here

            </div>

            <div class="uk-placeholder">
                <ul class="uk-subnav">
                    <li> <a> Add Task</a> </li>
                    <li> <a> Delete Task</a> </li>
                </ul>
                A new content slide

            </div>
        </div>

    </div>

</div>

<div id="modal_pane" class="uk-modal" aria-hidden="true">

</div>
