
<div class="uk-modal-dialog">
    <button type="button" class="uk-modal-close uk-close "></button>

    <div class="uk-modal-header">
        <h2>Change Password</h2>
    </div>

    <div class="notify-pane"></div>
    <div class="tab-body-1">
        <form class="uk-form uk-form-horizontal">
            <div class="uk-form-row">
                <label class="uk-form-label" for="old_pwd">Old Password: </label>
                <input type="password" name="old_pwd" id="old_pwd"/>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" for="new_pwd">New Password: </label>
                <input type="password" name="new_pwd" id="new_pwd"/>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" for="confirm_pwd">Confirm Password: </label>
                <input type="password"  id="confirm_pwd" name="confirm_pwd"/>
            </div>
        </form>
    </div>

    <div class="uk-modal-footer uk-text-right">
        <a href="" id="cancel" class="uk-link">Cancel</a>
        &nbsp;&nbsp;
        <input type="button" id="save" class="uk-button" value="Save"/>
    </div>
</div>
