
<div class="uk-modal-dialog">
    <button type="button" class="uk-modal-close uk-close "></button>

    <div class="uk-modal-header">
        <h2>Settings</h2>
    </div>

    <div class="uk-grid" style="height: 440px;">
        <div class="uk-width-1-3">
            <ul class="uk-tab uk-tab-left" style="height:100%" data-uk-tab>
                <li class="uk-active" id="orders"><a href="">Presentation Order</a></li>
                <li id="others"><a href="">Others</a></li>
            </ul>
        </div>
        <div class="uk-width-2-3">

            <div class="uk-table orders">
                <ul class="uk-sortable uk-grid" data-uk-sortable="{handleClass:'uk-sortable-handle'}">
                    {{#items}}
                    <li class="user-list-item" data-user-id="{{id}}">
                        <div class="uk-panel uk-panel-box">
                            <i class="uk-sortable-handle uk-icon uk-icon-bars uk-margin-small-right"></i>
                            <label style="width:50%">{{name}}</label> <label class="uk-form-label">{{role}}</label>
                        </div>
                    </li>
                    {{/items}}
                </ul>
                <div class="uk-grid">
                    <div class="uk-width-2-5 uk-push-3-5">
                        <button disabled id="save-order" class="uk-button" type="button">Save Changes</button>
                    </div>
                </div>
            </div>
            <div class="uk-table others" aria-hidden="true">
                To Do
            </div>
        </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
        <a href="" id="cancel" class="uk-link">Cancel</a>
        &nbsp;&nbsp;
        <!--<input type="button" id="save" class="uk-button" value="Save"/>-->
    </div>
</div>
