
<div class="uk-modal-dialog">
    <button type="button" class="uk-modal-close uk-close "></button>

    <div class="uk-modal-header">
        <h2>Settings</h2>
    </div>

    <div class="notify-pane"></div>
    <form id="login_form" class="uk-form">
        <div class="uk-form-row">
            <span class="uk-form-label">Week Starts at: </span>
            <input value="" name="startingDay"/>
        </div>
        <div class="uk-form-row">
            <span class="uk-form-label">Member Status: Disable someone</span>
        </div>
        <div class="uk-form-row">
            <span class="uk-form-label">Add new Member?</span>
        </div>
        <div class="uk-form-row">
            <span class="uk-form-label">Edit current login user info</span>
        </div>
        <div class="uk-form-row">
            <span class="uk-form-label">change password</span>
        </div>
    </form>
    <div class="uk-modal-footer uk-text-right">
        <a href="" id="cancel" class="uk-link">Cancel</a>
        &nbsp;&nbsp;
        <input type="button" id="save" class="uk-button" value="Save"/>
    </div>
</div>
