<div class="uk-panel-badge uk-badge uk-badge-{{status}}">{{status}}</div>
<h3 class="uk-panel-title">
    <i class="uk-icon-list"></i> &nbsp; {{name}}
</h3>
<form class="uk-form uk-form-horizontal">
    <label class="uk-form-label">Current Progress:</label>
    <textarea class="uk-form-width-large uk-form-blank" disabled rows="2" cols="190">{{description}}</textarea>
    <br>
    <label class="uk-form-label">Potential Risk:</label>
    <textarea class="uk-form-blank uk-form-width-large " disabled>{{risk}}</textarea>
    <br>
    <label class="uk-form-label">Project:</label>
    <input value="{{project}}" class="uk-form-blank" disabled>
</form>
