<div class="table-caption">
    <h3 class="table-title">Tasks of <span id="member-name">Member</span></h3>
    <nav class="uk-navbar">
        <div class="uk-navbar-flip">
            <ul class="uk-navbar-nav uk-hidden-small">
                <li><a id="add-task">Add</a></li>
                <li><a id="preview-tasks">Preview</a></li>
                <li class="uk-parent" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
                    <a href="" class="uk-navbar-nav-subtitle">More<div>Advanced</div></a>
                    <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-bottom" aria-hidden="true" tabindex="" style="top: 40px; left: 0px;">
                        <ul class="uk-nav uk-nav-navbar">
                            <li><a href="#">Export</a></li>
                            <li><a href="#">Import</a></li>
                            <li class="uk-nav-header">Header</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="table-container">
   <!-- <div class="uk-alert uk-alert-success" data-uk-alert="">
        <a href="#" class="uk-alert-close uk-close"></a>
        <p>This is a success alert using an a element as close button.</p>
    </div> -->
    <table class="uk-table uk-table-striped uk-table-condensed uk-table-hover tasks-table" >
        <thead>
            <tr style="border:0px;">
                <th style="width:60px;">Action</th>
                <th style="width:180px;">Name</th>
                <th style="width:70px;">Status</th>
                <th style="width:130px;">Detail</th>
                <th style="width:80px;">Progress</th>
                <th style="width:120px;">ETA</th>
            </tr>
        </thead>

        <tbody>
            <tr class="uk-form creation-row" style="border:0px;">
                <td>
                    <input type="button" value="Save" class="uk-button" id="quick-add">
                </td>
                <td>
                    <input class="uk-input-name" placeholder="Task Name" id="new-task-name">
                </td>
                <td>
                    <select id="new-task-status">
                        <option value="Green">Green</option>
                        <option value="Orange">Orange</option>
                        <option value="Red">Red</option>
                    </select>
                </td>
                <td>
                    <input placeholder="Detailed Status" id="new-task-description">
                </td>
                <td>
                    <div class="progress-column" >
                    <input style="width:80px;" type="range" value="0" id="new-task-progress" step="5">&nbsp;<h7> 0</h7>%
                    </div>
                </td>
                <td>
                    <input id="new-task-eta" type="date">
                </td>
            </tr>
        </tbody>
    </table>
    <div id="task-view" class="table-container"></div>
</div>
